<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="ie6 ie"> <![endif]-->
<!--[if IE 7 ]> <html lang="ja" class="ie7 ie"> <![endif]-->
<!--[if IE 8 ]> <html lang="ja" class="ie8 ie"> <![endif]-->
<!--[if IE 9 ]> <html lang="ja" class="ie9 ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="jn"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>slidesync</title>
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IEの表示モード -->
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:500,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  </head>
  <body>
    <!-- container -->
    <%=content_tag :div, id: 'container', data: {pusher_key: Pusher.key} do %>
      <iframe id="headerIframe" frameborder="0"></iframe>
      <!-- header -->
      <div id="header">
        <span id="logo">Slide sync.</span>
      </div>

      <%= yield %>

      <!-- footer -->
      <div id="footer">
      </div>
    <% end %>
  </body>
</html>
